<div id="main" class="container">
  <div class="form-head d-flex mb-3 align-items-start">
    <div class="mr-auto py-11"> 
      <p class="mb-0">Bienvenue <%= @user.name %></p> 
        <%= link_to "Mes payments", payments_path, class:"btn btn-secondary"%> 
        <%= link_to "Mon Group", groups_path, class: "btn btn-secondary"%> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2">
      <%= image_tag (@user.avatar_thumbnail), style: 'height:150px;width:150px;'%>
    </div>
    <div class="col-sm-12 col-md-11 col-lg-10 py-6">
      <table class="table table-borderless">
        <thead class="table-primary">
          <tr class="fw-bold">
            <td>Name</td>
            <td>Prénom</td>
            <td>Email</td>
            <td>Téléphone</td>
            <td>Nom du groupe</td>
            <td>Date d'ajout</td>
            <td>Votre devise</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.name %></td>  
            <td><%= @user.first_name %></td>  
            <td><%= @user.email %></td> 
            <td><%= @user.telephone %></td> 
            <td><%= @user.group.name %></td> 
            <td><%= @user.added_since %></td> 
            <td><%= @user.setting.devise %></td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
</div>