<div class="container"> 
  <div class="col-12">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <!--<p><%= notice%></p> -->
    <% end %>
  </div>
  <%if user_signed_in?%>
    <div class="col-lg-12 text-center">
    <%if current_user.admin? %>
      <div class="row justify-content-center">
        <h1 class="mt-5">Bienvenue</h1>    
        <div class="home-card col-lg-3 mb-3">
          <%= link_to "PROFIL de #{current_user.name}", admin_users_path, class:"py-5"%> 
        </div>
        <div class="home-card col-lg-3 mb-3">
          <%= link_to  "PAYMENT", admin_payments_path %>
        </div>
        <div class="home-card col-lg-3 mb-3">
          <%= link_to  "SETTING", admin_settings_path %> 
        </div>
        <div class="home-card col-lg-3 mb-3">
          <%= link_to  "GROUP", admin_groups_path %> 
        </div>
      </div>
    <%else%>
    <div class="row justify-content-center">
      <h1 class="mt-5">Bienvenue</h1>    
      <div class="home-card col-lg-3 mb-3">
        <%= link_to "PROFIL de #{current_user.name}", user_path(current_user), class:"py-5"%> 
      </div>
      <div class="home-card col-lg-3 mb-3">
        <%= link_to  "PAYMENT", payments_path%>
      </div>
      <div class="home-card col-lg-3 mb-3">
        <%= link_to  "SETTING", settings_path %> 
      </div>
      <div class="home-card col-lg-3 mb-3">
        <%= link_to  "GROUP", groups_path %> 
      </div>
    </div>
    <%end%>
  <%else%> 
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to JCI</h1>
        <p class="lead">Login and do what you need to do</p>
        <%= link_to "Log In", new_user_session_path, class:"btn btn-secondary"%>
      </div>
    </div>
  <%end%>
</div>