<div id="main" class="container">
  <h5 class="fw-normal text-uppercase"> Le paiement</h5>
  <table class="table table-borderless">
    <thead class="table-primary">
      <tr class="fs-1 fw-bold">
        <th>Date du paiement</th> 
        <th>Note / Description</th>
        <th>Montant payé</th> 
        <th>Action</th>
      </tr>
    </thead> 
    <tbody>
      <tr> 
        <td><%= @payment.date_payment %></td>
        <td><%= @payment.note %></td>
        <td><%= @payment.pay_amount %></td> 
        <td>
          <%= link_to fa_icon('arrow-left', text: "Retour"), admin_payments_path, class: "btn btn-outline-primary" %>
          <%= link_to fa_icon('edit', text: "Modifier"), edit_admin_payment_path(@payment), class: "btn btn-outline-secondary" %>
          <%= link_to fa_icon('trash', text: "Supprimer"), admin_payment_path(@payment.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-outline-danger"%> 
        </td>
      </tr>
    </tbody>  
  </table> 
</div>
