<div id="main" class="container py-11">
  <div class="row">
      <div class="col-12">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <!--<p><%= notice%></p> -->
        <% end %>
      </div>
    </div>
    <%if current_user.admin%> 
    <div class="row">
      <div class="col-12 text-center"> 
        <h5 class="py-4 fw-normal text-uppercase">Informations des promotions</h5>
        <table class="table table-borderless">
          <thead class="table-primary">
            <tr class="fs-1 fw-bold">
              <th>Image</th>
              <th>Année</th>
              <th>Nom</th>
              <th>Description</th>
              <th>Nombre d'utilisateur ajouté</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @promotions.each do |promotion| %>
              <tr>
                <td>
                  <%#= image_tag (promotion.image_promotion_thumbnail), style: 'height:150px;width:150px;'%>
                  <%= link_to promotion.image_promotion_url do %>
                    <%= image_tag promotion.image_promotion_url, class: "thumbnail", style: 'height:60px;width:60px;' %>
                  <% end %>
                </td>
                <td><%= promotion.year_promotion%> </td>
                <td><%= promotion.name%></td>
                <td><%= promotion.description%></td>
                <td>
                  <%= promotion.users.count%>
                </td> 
                <td>
                  <%= link_to fa_icon('eye', text: "Voir"), promotions_path(promotion.id), class: "btn btn-outline-primary btn-sm" %>
                  <%= link_to fa_icon('edit', text: "Modifier"), edit_admin_promotion_path(promotion),:class=>"btn btn-outline-secondary btn-sm" %>
                  <%= link_to fa_icon('trash', text: "Supprimer"), admin_promotion_path(promotion), method: :delete, data: { confirm: 'are you sure ?' },:class=>"btn btn-outline-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>  
      </div>
      <%= link_to fa_icon('plus', text: "Ajouter une promotion"), new_admin_promotion_path, class: "btn btn-outline-primary btn-sm col-3 mx-auto" %>
    </div> 
    <%end%> 
  <%= paginate @promotions%>
</div>