<div id="main" class="container">
  <h5 class="fw-normal text-uppercase"> La promotion</h5>
  <table class="table table-borderless">
    <thead class="table-primary">
      <tr class="fs-1 fw-bold">
        <th>Image</th>
        <th>Année</th>
        <th>Nom</th> 
        <th>Description</th> 
        <th>Action</th>
      </tr>
    </thead> 
    <tbody>
      <tr>
        <td><%= image_tag (@promotion.image_promotion_thumbnail), style: 'height:70px;width:70px;'%></td>
        <td><%= @promotion.year_promotion%> </td> 
        <td><%= @promotion.name %></td>
        <td><%= @promotion.description %></td> 
        <td>
          <%= link_to fa_icon('back', text: "Retour"), admin_promotions_path, class: "btn btn-secondary btn-sm" %>
          <%= link_to "Modifier", edit_admin_promotion_path(@promotion), class: "btn btn-secondary btn-sm" %>
          <%= link_to "Supprimer", admin_promotion_path(@promotion.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-secondary btn-sm"%> 
        </td>
      </tr>
    </tbody>  
  </table>
</div>
