 <div id="main" class="container text-center">  
  <h4 class="py-11">Vos paiements</h4>  
  <table class="table table-bordered border-primary text-center">
    <thead class="thead-light">
      <tr>
        <th>Date Payment</th> 
        <th>Note</th> 
        <th>Payment Amount</th>  
      </tr>
    </thead> 
    <tbody> 
    <% nbre = 0 %>
      <% @payments.each do |payment| %> 
        <tr>           
          <td><%= payment.date_payment %></td>
          <td><%= payment.note %></td>
          <td><%= payment.pay_amount %></td> 
          <%#= @payment.where(user_id: payment.user_id).count%> 
          <% if payment.present?%>   
            <% nbre += payment.pay_amount %>
            <% nbre%>
          <%end%>
        </tr> 
      <%end %> 
        <tr>
          <th scope="row">Total</th>
          <td colspan="2" class="table-active fw-bold"><%=nbre%></td>
        </tr> 
    </tbody>  
  </table> 
  <div class="text-center">
    <%= link_to  "Back", root_path, class: "btn btn-secondary col-3" %>
  </div>
</div>