<div id="main" class="container">
  <h5 class="fw-normal text-uppercase"> Le paramètre</h5>
  <table class="table table-borderless">
    <thead class="table-primary">
      <tr class="fs-1 fw-bold">
        <th>Montant</th> 
        <th>Devise</th> 
        <th>Action</th>
      </tr>
    </thead> 
    <tbody>
      <tr> 
        <td><%= @setting.amount_due%></td>
        <td><%= @setting.devise %></td> 
        <td>
          <%= link_to "Retour", admin_settings_path, class: "btn btn-secondary" %>
          <%= link_to "Modifier", edit_admin_setting_path(@setting), class: "btn btn-secondary" %>
          <%= link_to "Supprimer", admin_setting_path(@setting.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-secondary"%> 
        </td>
      </tr>
    </tbody>  
  </table>
</div>
