<div id="main" class="container">
 
<h4>Information</h4>
  <table class="table text-center">
    <thead class="thead-light">
      <tr>
        <th>Amount due</th> 
        <th>Devise</th> 
        <th>Action</th>
      </tr>
    </thead> 
    <tbody>
      <tr> 
        <td><%= @setting.amount_due%></td>
        <td><%= @setting.devise %></td> 
        <td>
          <%= link_to "Retour", admin_settings_path, class: "btn btn-secondary" %>
          <%= link_to "Modifier", edit_admin_setting_path(@setting), class: "btn btn-secondary" %>
          <%= link_to "Supprimer", admin_setting_path(@setting.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-secondary"%> 
        </td>
      </tr>
    </tbody>  
  </table>
 
</div>
