<div class="container">
  <div class="row">
      <div class="col-12">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
            <!--<p><%= notice%></p> -->
        <% end %>
      </div>
    </div>
    <hr>
    <%if current_user.admin%>
      <div class="second_section">
        <div class="row">
          <div class="col-12">
            <section class="first_section text-center">
              <h3>Your information:</h3>
              <p>Name: <%= current_user.name%></p>
              <p>Email: <%= current_user.email%></p>
            </section>
            <div class="text-center">
              <h3>Action:</h3>
                <%= link_to "Create Group", new_admin_group_path, :class=>"btn btn-secondary sm col-2"%>|
                <%=link_to "Logout",admin_user_path(current_user.id),method: :delete, data: { confirm: 'Are you sure?'} ,:class=>"btn btn-danger col-2" %>|
                <%= link_to "Dashboard", root_path, :class=>"btn btn-secondary sm col-2"%>
            </div>
            <hr>
          </div>
        </div>
      </div>
    <%end%>
    <br>
    <h4> All Group Information</h4>
  <table class="table">
    <thead class="thead-primary">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Number of users added</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
          <tr>
            <td><%= group.name%> </td>
            <td><%= group.description%></td>
            <td>
              <%= group.users.count%>
            </td>
            <br>
            <td> 
              <%= link_to "Edit User", admin_group_path(group), class: "btn btn-secondary col-2" %> |
              <%= link_to "Edit Group", edit_admin_group_path(group),:class=>"btn btn-secondary" %> |
              <%= link_to "Delete Group", admin_group_path(group), method: :delete, data: { confirm: 'are you sure ?' },:class=>"btn btn-danger" %>
            </td>
          </tr>
      <% end %>
    </tbody> 
  </table>
 <%= paginate @groups%>
</div>