<div id="main" class="container">
  <!-- Calcul de l'âge-->
  <%age = 0%>
  <%value_age1 = @user.birthday%>
  <%value_age = value_age1.year%>
  <%value_date_now = Date.today.year%>
  <%age = (value_date_now - value_age).to_i%>
  <!-- <p>Votre âge est: <%#= age%></p> -->

  <h3 class="py-3 fs-3 fw-normal text-center">Informations sur l'utilisateur <%=@user.name%></h3>
  <table class="table table-borderless py-3">
    <thead class="table-primary border">
      <tr class="fw-bold fs-1 text-center b-1">
        <th>Image</th> 
        <th>Nom</th> 
        <th>Prénom</th> 
        <th>Téléphone</th>
        <th>Groupe</th> 
        <th>Email</th> 
        <th>La Devise</th>
        <th>Membre Depuis</th>
        <td>Date naissance/Age</td> 
        <td>Age</td>
        <td>Secteur d'activité</td>
        <td>La promotion</td>   
        <th>Action</th>
      </tr>
    </thead> 
    <tbody>
      <tr> 
        <td> 
          <%#= link_to "#{@user.name}", user_path( @user.id)%>
          <%= image_tag @user.avatar_thumbnail, style: "width:60px;height:60px"%>
        </td>
        <td><%= @user.name %></td>
        <td><%= @user.first_name %></td>
        <td><%= @user.telephone %></td>
        <td> 
          <% if @user.group%>
            <%= @user.group.name %>
          <% end%>
        </td>
        <td><%= @user.email %></td>
        <% if @user.setting%>
          <td> 
            <%= @user.setting.devise%>
          </td>
        <%end%> 
        <td><%= @user.added_since %></td> 
        <td><%= @user.birthday %></td>
        <td><%= age %></td>
        <td><%= @user.profession %></td>
        <%if @user.promotion%>
          <td><%= @user.promotion.name %></td>
        <%end%>         
        <td> 
          <%= link_to fa_icon('edit', text: "Modifier"), edit_admin_user_path(@user), class: "btn btn-outline-secondary btn-sm" %>
          <%= link_to fa_icon('trash', text: "Supprimer"), admin_group_path(@user.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-outline-danger btn-sm"%> 
        </td>
      </tr>
    </tbody>  
  </table> 
  <%= link_to fa_icon('plus', text: "Nouveau paiement"), new_admin_payment_path(@user), class: "btn btn-outline-primary btn-sm" %>
  <!--les paiements-->
  <h4 class="fs-3 fw-normal py-5 text-center">Information sur les paiements</h4>  
  <table class="table table-borderless py-3">
    <thead class="table-primary border">
      <tr class="fw-bold fs-1 text-center b-1">
        <th>Date du paiement</th> 
        <th>Note</th> 
        <th>Montant du paiement</th>  
        <!--<th>Action</th>-->
      </tr>
    </thead> 
    <tbody> 
    <% nbre = 0 %>
      <% @payment.each do |payment| %> 
        <tr class="text-center">   
          <% if @user.id == payment.user_id%>         
            <td><%= payment.date_payment %></td>
            <td><%= payment.note %></td>
            <td><%= payment.pay_amount %></td>
           <!-- <td>
              <%#= link_to  "Back", admin_users_path, class: "btn btn-secondary" %> |
              <%#= link_to "Edit", edit_admin_payment_path(user.id), class: "btn btn-secondary" %> 
              <%#= link_to "Delete", admin_group_path(@user.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-secondary"%> 
            </td> -->
            
            <%#= @payment.where(user_id: payment.user_id).count%>
            
            <% if payment.present?%>   
              <% nbre += payment.pay_amount %>
              <% nbre%>
            <%end%>
          <%end%>
        </tr>   
      <%end %> 
    </tbody>  
  </table>
  <p class="text-center py-5">
    Montant total du paiement = <span class="badge bg-success py-2"><%= nbre%>, <%= @user.setting.devise%></span>
    <%if @user.added_since.year < Date.today.year%>
      <% date = (Date.today.year - @user.added_since.year).to_i%>
      <% date = (date + 1)%>
      <% total = (date*@user.setting.amount_due)%>
      <% if total > nbre %>
        <br> 
        Vous devez payez <%= nbre_total = (total - nbre)%>, <%= @user.setting.devise%>
      <% elsif total < nbre%>
        <p>Vous êtes dans les normes. Votre surplus est de<%= nbre_total = nbre - total%>, <%= @user.setting.devise%></p>
          <%year = (nbre_total.to_f / @user.setting.amount_due.to_f).to_f %>
          <%= year.to_i%> , year(s)
          <% recup_val_month = year - year.to_i%>
          <% month = (recup_val_month.to_f * 12)%>
          <%= month.to_i%>, month(s)
      <%else%>
        <p>Vous êtes dans les normes.</p>
      <%end%>
    <% elsif  @user.added_since.year > Date.today.year%>
      ...
    <%else%> 
      <!--
        You must pay <%#= total = (nbre - @user.setting.amount_due)%>, <%#= @user.setting.devise%>
      -->
      <% date = (Date.today.year - @user.added_since.year).to_i%>
      <% date = (date + 1)%>
      <% total = (date*@user.setting.amount_due)%>
      <% if total > nbre %>
        <br> 
        Vous devez payez <%= nbre_total = (total - nbre)%>, <%= @user.setting.devise%>
      <% elsif total < nbre%>
        <p class="text-center">Vous êtes dans les normes. Votre surplus est de <%= nbre_total = nbre - total%>, <%= @user.setting.devise%></p>
          <%year = (nbre_total.to_f / @user.setting.amount_due.to_f).to_f %>
        <p class="text-center"><%= year.to_i%> , year(s)
          <% recup_val_month = year - year.to_i%>
          <% month = (recup_val_month.to_f * 12)%>
          <%= month.to_i%>, month(s)
        </p>
      <%else%>
        <p class="text-center">Vous êtes dans les normes.</p>
      <%end%> 
    <%end%> 
  </p>
</div>