<div id="main" class="container py-11"> 
  <div class="text-center">
    <h3 class="py-5">Votre promotion</h3>
    <table class="table table-borderless">
      <thead class="table-primary">
        <tr class="fw-bold">
          <td>Image</td>
          <td>Année</td>
          <td>Nom</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        <tr> 
        <%if current_user.promotion%>
          <td><%= image_tag (@user.image_promotion_thumbnail), style: 'height:150px;width:150px;'%></td>
          <td><%= (current_user.promotion.year_promotion).year%></td>
          <td><%= current_user.promotion.name%></td>  
          <td><%= current_user.promotion.description%></td>
        <%else%>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Info !</strong> Aucune donnée trouvée.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <%end%>
        </tr>
      </tbody>
    </table>  
  </div>
  <div class="text-center">
    <%= link_to  "Retour", root_path, class: "btn btn-secondary" %>
  </div>
</div>