<div id="main" class="container py-11 text-center">  
  <h3 class="py-5">Promotions</h3>
  <table class="table table-borderless">
    <thead class="table-primary">
      <tr class="fw-bold">
        <td>Image</td>
        <td>Année</td>
        <td>Nom</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <tr> 
      <%if current_user.promotion%>
        <td>
          <%= link_to @promotion.image_promotion_url do %>
            <%= image_tag @promotion.image_promotion_url, class: "thumbnail", style: 'height:150px;width:150px;' %>
          <% end %>
          <%#= image_tag (promotion.image_promotion_thumbnail), style: 'height:150px;width:150px;'%>
        </td>
        <td><%= (current_user.promotion.year_promotion).year%></td>
        <td><%= current_user.promotion.name%></td>  
        <td><%= current_user.promotion.description%></td>
      <%else%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Info !</strong> Aucune donnée trouvée.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <%end%>
      </tr>
    </tbody>
  </table>
</div>