<!DOCTYPE html>
<html>
  <head>
    <title>JCIApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in?%>
      <%= render "/layouts/nav_user" %>
    <%else%>
      <%= render "/layouts/navbar" %>
    <%end%>
    <%= render 'layouts/messages'%>
    <%= yield %>
  </body>
  <%= render "/layouts/footer" %>
</html>
